@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patua+One&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Patua+One&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


.header{
    
    box-shadow: 10px 0 10px #817e7e ;
    padding: 5px  30px; 
    margin-top:7px ;
    height: 40px;
    background-color: #fff;
}
.header .container-fluid .navbar-nav{
    font-family: "Anton", serif;
    display: flex;
    align-items: center;
    font-weight: 500;
}
.header .container-fluid .navbar-nav img{
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
/* .header .container-fluid .search-box{
    position: relative;
    display: inline-block;
} */
.header .container-fluid .search-box .form-control{
    height: 30px;
    width: 10rem;
    border-radius: 5px;
    border: 1px solid rgb(24, 19, 19);
    margin-left: 20px;
}
.contact .ml-auto .nav-item{
    height: 30px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius:10px ;
    transition: calc(0.5s);
    font-family: "Patua One", serif;
    font-size: 16px;
    color: #FFF;
    background:rgb(37, 89, 152);

}

.contact .linkedin, .contact .facebook, .contact .instagram{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    width: 25px;
    font-size: 13px;
    border-radius: 50%;
    border: 2px solid rgb(36, 36, 36);
}
